<h1>Demo Controller, Hello Page</h1>

<% @array.each do |n| %>
<%= n %> <br />
<% end %>

<a href="/demo/index">Index Page 1</a><br />
<%= link_to('Index page 2', {:action => 'index'}) %>

<br />

ID: <%= params[:id] %><br />
ID: <%= @id %><br />
Next Page: <%= @page.to_i + 1 %>

<hr />

<%= params.inspect %>